<h2>Post Task</h2>

<div class="container">
  <div class="title row">
    <div class="col-md-6 col-md-offset-3">
      <form ng-submit="postTask(task)">
        <input type="text" ng-model='task.title' class='form-control' placeholder='Task title' required><br>

        <textarea ng-model='task.discription' class='form-control' placeholder='Describe what do you want to be done' required> ></textarea><br>

        <input type="number" ng-model='task.total' class='form-control' placeholder='How mush you will pay?' required>

        <input type="submit" value='Post' class="btn btn-warning">

      </form>
    </div>
  </div>
</div>
<!-- server cmd : python -m SimpleHTTPServer 8000  -->